<div class="chart-wrapper">
  <div class="chart-description">
    <p>
      Aquest conjunt de dades inclou informació sobre
      <strong>115000 cançons de Spotify</strong>, juntament amb les seves característiques, distribuides homogeniament
      en 115 gèneres musicals diferents.
    </p>
    <p>
      Les característiques disponibles inclouen:
      <strong>nom de la cançó</strong>, <strong>artistes</strong>, i el
      <strong>gènere musical</strong>. També es proporciona informació detallada com la
      <strong>popularitat</strong>, la <strong>valència strongocional</strong>,
      <strong>instrumentalitat</strong>, i <strong>parla</strong>. A més, s'ha complementat
      aquesta informació amb dades sobre la <strong>popularitat dels artistes</strong>,
      proporcionades a través de la <strong>API de Spotify</strong>.
    </p>
  </div>

  <div #chart class="chart-container">
    <label>
      <input
        type="checkbox"
        [checked]="filtersEnabled"
        (change)="filtersEnabled = !filtersEnabled; applyFilters()"
      />
      Aplica Filtres
    </label>
  </div>
</div>
