<div
  class="sources-wrapper"
  style="
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  "
>
  <h2>&lt; Fonts i Eines Utilitzades / &gt;</h2>

  <div class="source-section">
    <h3>Dades</h3>
    <p>
      Les dades utilitzades en aquest projecte provenen de
      <a
        href="https://www.kaggle.com/datasets/maharshipandya/-spotify-tracks-dataset"
        target="_blank"
      >
        Kaggle: Spotify Tracks Dataset </a
      >. Aquest conjunt de dades conté informació sobre 1000 cançons
      distribuïdes en diversos gèneres musicals, amb diverses característiques
      com popularitat, energia, dansabilitat, i més.
    </p>
  </div>

  <div class="source-section">
    <h3>Gràfiques Interactives</h3>
    <p>
      Les gràfiques interactives han estat creades amb la llibreria de
      visualització de dades
      <strong>D3.js</strong>. Aquesta llibreria permet la creació de gràfiques
      dinàmiques i interactives a través de codi JavaScript.
    </p>
  </div>

  <div class="source-section">
    <h3>API de Spotify</h3>
    <p>
      Per a obtenir dades addicionals sobre els artistes i la popularitat de les
      cançons, s'ha utilitzat l'API de Spotify. Aquesta API permet accedir a
      informació detallada sobre cançons, artistes, àlbums, i més.<a
        href="https://developer.spotify.com/documentation/web-api"
        target="_blank"
      >
        Spotify for Developers </a
      >.
    </p>
  </div>

  <div class="source-section">
    <h3>Ús d’Eines d’AI</h3>
    <p>
      Per a la creació de les gràfiques interactives amb D3.js i la implementació dels components, s'ha utilitzat <strong>ChatGPT</strong>. Els prompts
      utilitzats han estat tots orientats a la creció de les gràfiques i a la
      sol·lució de problemes derivats de la seva implementació.
    </p>
  </div>

  <div class="source-section">
    <h3>Plantilla</h3>
    <p>
      La plantilla inicial del projecte ha estat proporcionada per una companya
      de feina. El seu github és
      <a href="https://github.com/yasmingimenezm" target="_blank">
        Github: yasmingimenezm </a
      >.
    </p>
  </div>
</div>
