<div class="container">
  <button class="floating-toggle-filters" (click)="toggleFilters()">
    {{ showFilters ? "Amaga Filtres" : "Mostra Filtres" }}
  </button>

  <div [hidden]="!showFilters">
    <app-filter-menu
      [selectedGenres]="selectedGenres"
      (filtersChanged)="updateFilters($event)"
    ></app-filter-menu>
  </div>

  <div class="content-wrapper">
    <h1>&lt; {{ "home.title" | translate }} / &gt;</h1>
    <div class="content-section">
      <h2>{{ "home.subtitle" | translate }}</h2>
      <p class="content-text">
        La música és un llenguatge universal que ens connecta a través
        d'emocions, ritmes i melodies. Però, què fa que una cançó sigui popular?
        Quines diferències hi ha entre els gèneres musicals? I com influeixen
        les característiques musicals en les nostres preferències?
      </p>
    </div>
    <div class="divider"></div>
    <bar-chart [data]="data" [popularity]="popularity"> </bar-chart>

    <div class="content-section">
      <bubble-chart
        [genres]="selectedGenres"
        [popularity]="popularity"
        [data]="data"
      ></bubble-chart>
    </div>

    <div class="content-section">
      <violin-chart
        [genres]="selectedGenres"
        [popularity]="popularity"
        [data]="data"
      ></violin-chart>
    </div>

    <div class="content-section">
      <heatmap-chart
        [genres]="selectedGenres"
        [popularity]="popularity"
        [data]="data"
      ></heatmap-chart>
    </div>
  </div>
</div>
